.container{
    background-color: blue;
    height: 00%;
    width: 60%;
    border-radius: 20px;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 20px;
}
label{
    margin-left: 20px;
}
input{ 
    /* margin: 20px; */
    float: right;
   
}
/* #fn,#ln,#email,#un,#tel,#nationality,#Male,#pass,#pass2*/
.formCont{
    height: 80%;
    /* width: 95%; */
    margin: auto;
    background-color: rgb(190, 190, 190);
    border-radius: 20px;
    width:fit-content;
    padding: 50px;
}
button{
    margin-bottom: 20px;
    margin-left: 2px;
}
#gender_input{
    width: fit-content;
    height: fit-content;

}